<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片浏览</title>
</head>
<body>

    <div align="center">
        <br><br>
    <img src="{{static_url('resized_images/%s' % img_src)}}" style="width:375;height:100"/>
        <form action='/index' method='post'>
            <p>原始标注: <input type="text" name="img_name" value="{{img_name}}"/></p>
            <p>新标注: <input type="text" name="new_img_name" value="{{new_img_name}}"/></p>
            <button type="submit">提交</button>
        </form>
    </div>

</body>
</html>